<mat-toolbar class="bgHeader">
    <ul>
        <a *ngIf = "auth.loguedIn()" routerLink="listTask">List Task
        </a>
    </ul>

    <ul>
        <a *ngIf = "auth.loguedIn()" routerLink = "saveTask">Create Task
        </a>
    </ul>
    <ul>
        <a *ngIf = "auth.loguedIn()" routerLink ="listUser">Admin</a>
    </ul>
    <span class="headerSpace"></span>
    <ul>
        <a *ngIf = "!auth.loguedIn()" mat-button routerLink="register">Register</a>
        <a *ngIf = "!auth.loguedIn()" mat-button routerLink="login">Login</a>
        <a *ngIf = "auth.loguedIn()" mat-button 
        (click) ="auth.logout()"
        >Logout</a>
    </ul>
</mat-toolbar>
